.se-03 {
  position: relative;
  z-index: 10;
  background-color: $main;
  .content {
    border: 1px solid $red;
    overflow: hidden;
    .name {
      font-size: clamp(34px, 0.029 * calc(100 * var(--vw, 1vw)), 58px);
      border-bottom: 1px solid $red;
      padding: 1rem 1.25rem;
      font-family: Freight;
    }
    .explanation {
      border-bottom: 1px solid $red;
      white-space: nowrap;
      display: flex;
      overflow: hidden;
      .exWrap {
        display: flex;
        animation: rail 30s linear infinite;
      }
    }
    .contentBottom {
      display: block;
      .imgFrame {
        width: 100%;
        border-bottom: 1px solid $red;
        .imgWrap {
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
      .aniFrame {
        width: 100%;
        height: 30rem;
        position: relative;
        text-align: center;
        overflow: hidden;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: proximaNova;
          line-height: 70px;
          font-weight: 600;
          font-size: clamp(40px, 0.034 * calc(100 * var(--vw, 1vw)), 68px);
          span {
            font-size: clamp(70px, 0.05 * calc(100 * var(--vw, 1vw)), 100px);
            display: block;
            font-family: Freight;
          }
        }
        ul {
          width: 100%;
          // position: absolute;
          // display: flex;
          // bottom: -20px;
          // left: 0;
          li.circle {
            position: absolute;
            background-color: $main;
            font-family: Freight;
            display: flex;
            width: 33.3%;
            aspect-ratio: 1 / 1;
            border: 1px solid $red;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            &:nth-child(1) {
              left: 0;
            }
            &:nth-child(2) {
              left: 50%;
              transform: translateX(-50%);
            }
            &:nth-child(3) {
              right: 0;
            }
          }
        }
      }
    }
  }
  @keyframes rail {
    0% {
      transform: translateZ(0);
    }

    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @include responsive(T) {
    .content {
      .contentBottom {
        .aniFrame {
          ul {
            li.circle {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @include responsive(D) {
    .content {
      .contentBottom {
        display: flex;
        .imgFrame {
          width: 50%;
          border-right: 1px solid $red;
          padding: 20px;
        }
        .aniFrame {
          width: 50%;
          height: auto;
          ul {
            li.circle {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
