@font-face {
  font-family: "Freight";
  src: local("FreightBigCmpProBold-Regular"),
    url("./assets/fonts/FreightBigCmpProBold-Regular.otf") format("woff");
}
/* @font-face {
  font-family: "broadway";
  src: local("broadway"), url("./assets/fonts/broadway.ttf") format("woff");
} */
@font-face {
  font-family: "proximaNova";
  font-weight: 600;
  src: local("proximaNovaBold"),
    url("./assets/fonts/proximaNovaBold.otf") format("woff");
}
@font-face {
  font-family: "proximaNova";
  font-weight: 400;
  src: local("proximaNovaRegular"),
    url("./assets/fonts/proximaNovaRegular.otf") format("woff");
}
